---
// Sliders are incredibly hard to create due to the way input range sliders work, so we have removed them for now.

// interface Props {
// 	type?: 'continuous' | 'discrete' | 'centered' | 'range',
// 	min?: string,
// 	max?: string,
// 	step?: string,
// 	value?: string,
// }
//
// const { type = 'continuous', min, max, step, value } = Astro.props
---

<!--<main>-->
<!--	<div class="stop md-shape-corner-full"></div>-->
<!--	<input type="range" min={min} max={max} step={step} value={value} />-->
<!--    <div class="stop md-shape-corner-full"></div>-->
<!--</main>-->

<!--<style>-->
<!--	.stop {-->
<!--        width: 4px;-->
<!--        height: 4px;-->
<!--        background: var(&#45;&#45;md-color-secondary);-->
<!--	}-->

<!--	input::-webkit-slider-runnable-track {-->
<!--        height: 16px;-->
<!--        background: var(&#45;&#45;md-color-secondary-container);-->
<!--		border-radius: 100vh;-->
<!--	}-->

<!--    input::-webkit-slider-thumb {-->
<!--		appearance: none;-->
<!--		border: 6px solid #FFFFFF;-->
<!--        height: 44px;-->
<!--        width: 4px;-->
<!--        background: var(&#45;&#45;md-color-primary);-->
<!--        margin: 0;-->
<!--    }-->
<!--</style>-->