---
interface Props {
	style?: string,
	id?: string,
	className?: string,
	slot?: string
}

const { style, id, className, slot } = Astro.props
---

<div class:list={["md-motion-easing-emphasized md-motion-duration-extra-long4 tab", className]} style={style} id={id} slot={slot}>
	<slot />
</div>

<style>
	.tab {
        width: 0;
        height: 100vh;
	}
</style>