---
interface props {
	width?: string,
	style?: string,
	absolute?: boolean,
}

const { width = '100%', style, absolute } = Astro.props
---

<div style={style} class:list={{absolute}}></div>

<style define:vars={{width}}>
	div {
        width: var(--width);
        text-align: center;
        margin: auto;
        height: 1px;
        background: var(--md-color-outline-variant);
	}

	.absolute {
		position: absolute;
		bottom: 0;
	}
</style>