---
interface props {
	width?: string,
	style?: string,
	absolute?: boolean,
	id?: string,
	className?: string,
	slot?: string
}

const { width = '100%', style, absolute, id, className, slot } = Astro.props
---

<div style={style} class:list={[absolute, className]} id={id} slot={slot}></div>

<style define:vars={{width}}>
	div {
        width: var(--width);
        text-align: center;
        margin: auto;
        height: 1px;
        background: var(--md-color-outline-variant);
	}

	.absolute {
		position: absolute;
		bottom: 0;
	}
</style>