---
import Divider from "./divider.astro";
interface Props {
    id?: string,
    className?: string,
    slot?: string,
    style?: string
}

const { id, className, slot, style } = Astro.props
---

<main id={id} class={className} style={style} slot={slot}>
    <slot name='leading' />
    <div>
        <p class="md-typescale-body-large" style="color: var(--md-color-on-surface); margin: 0;"><slot name="headline" /></p>
        <p class="md-typescale-body-medium" style="color: var(--md-color-on-surface-variant); margin: 0;"><slot name="supporting" /></p>
    </div>
    <p class="md-typescale-label-small" style="color: var(--md-color-on-surface-variant); margin: 0;"><slot name="trailing" /></p>
    <slot name="removedivider"><Divider width="calc(100% - 32px)" style="position: absolute; bottom: 0;" /></slot>
</main>

<style>
	main {
        background: var(--md-color-surface);
		padding: 8px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 16px;
	}

    div {
        width: 100%;
    }
</style>