---
import IconButton from "../actions/icon-button.astro";
interface props {
	title: string,
	id?: string,
	className?: string,
	slot?: string,
	style?: string,
}

const { title, id, className, slot, style } = Astro.props

// to open: document.querySelector('.side-sheet')!.style.width = '60%';	document.querySelector('.scrim')!.style.display = 'block'
---

<div class:list={["container", "md-elevation-1", "md-shape-corner-large-start", "md-motion-easing-emphasized", "md-motion-duration-medium4", "side-sheet", className]} id={id} style={style} slot={slot}>
    <header>
		<p class="md-typescale-title-large" style="color: var(--md-color-on-surface-variant); margin: 0; width: 100%;">{title}</p>
		<IconButton color="var(--md-color-on-surface-variant)" onclick="document.querySelector('.side-sheet').style.width = '0'; document.querySelector('.scrim').style.display = 'none'">close</IconButton>
	</header>
    <slot />
</div>
<div class:list={['scrim']}></div>

<script>
	document.querySelector('.scrim')!.addEventListener('click', () => {
		document.querySelector('.side-sheet')!.style.width = '0'
		document.querySelector('.scrim')!.style.display = 'none'
	});
</script>

<style>
    .container {
        background: var(--md-color-surface);
        position: absolute;
        top: 0;
        right: 0;
        margin: auto;
        align-self: center;
        overflow: hidden;
        width: 0;
        max-width: 400px;
        height: 100%;
        z-index: 1;
    }

    .container.modal {
        background: var(--md-color-surface-container-low);
    }

    .container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:  var(--md-color-surface-tint);
        overflow: hidden;
		pointer-events: none;
    }

	header {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 12px;
		padding: 24px;
	}

	.scrim {
		display: none;
	}

    .scrim::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:  #0000000F;
        overflow: hidden;
    }
</style>