---
import Icon from "../icon.astro";
import Styles from "../styles.astro";
interface Props {
	type?: 'fab' | 'small' | 'large',
	onclick?: string
}

const { type = 'fab', onclick = "" } = Astro.props
---

<button onclick={onclick} class:list={[type, 'md-shape-corner-large', 'md-elevation-3']}><Icon size={type == 'fab' || type == 'small' ? '24px' : '36px'} color="var(--md-color-on-primary-container)"><slot /></Icon></button>

<style>
	.fab {
        background: var(--md-color-primary-container);
        width: 56px;
        height: 56px;
		border: none;
		cursor: pointer;
        position: relative;
		overflow: hidden;
	}

	.small {
        background: var(--md-color-primary-container);
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
        position: relative;
        overflow: hidden;
	}

    .large {
        background: var(--md-color-primary-container);
        width: 96px;
        height: 96px;
        border: none;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

	button:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0 6px 8px 4px;
	}

	button:hover::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:  var(--md-color-on-primary-container);
        opacity: 0.08;
        overflow: hidden;
	}

    button:focus {
        outline: none;
    }

    button:focus::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:  var(--md-color-on-primary-container);
        opacity: 0.1;
        overflow: hidden;
    }
</style>